

body{background: #CE5937;
background: -moz-linear-gradient(left, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
background: -webkit-linear-gradient(left, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
background: linear-gradient(to right, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
}
span{
   background-color:firebrick;
   background: 
   
}

nav {
   width: 960px;
   margin: 0, auto;
   margin-left: 250px;
}

nav:before {
   content: "";
   display: block;
   height: 50px;
   width: 100%;
   background: #777;
   position: absolute;
   left: 0;
   z-index: -1;
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
   height: 50px;
   
}
ul li{
   float: left;
   margin-left: 10px;
   
}
ul li a{
   color: #fff;
   display: block;
   height: 50px;
   padding: 0,30px;
   text-transform: uppercase;
   text-decoration: none;
   line-height: 50px;
   
}

ul li a:hover{
   background: #d34d34;
   
}


nav.menu {
   width: 960px;
   margin: 0, auto;
   margin-left: 250px;
}

nav.menu:before {
   content: "";
   display: block;
   height: 100px;
   width: 100%;
   background:#359592;
   position: absolute;
   left: 0;
   z-index: -1;
   border: 2px, solid gold;

   
}
ul.next li{
   float: left;
   margin-left: 10px;
   margin: 10px;
   padding: 0;
   list-style: none;
   height: 50px;
   
}
ul.next li a{
   color: #fff;
   display: block;
   height: 50px;
   padding: 0,30px;
   text-transform: uppercase;
   text-decoration: none;
   line-height: 50px;
   
}

ul.next li a:hover{
   background: #d34d34;
   
}
div p{
   color: indigo;
}



#four:only-child{
   background-color: chocolate;
   
}
footer{
   width: 98%;
   float: left;
   padding: 0;
   background-color: #fafafa;
   border-top: 2px solid red;
   margin-top: 30px;
   height: 0;
}
.one{
   margin-left: 20px;
   display: inline-block;
   box-sizing: border-box;
   
}
.one p:first-of-type{
   margin-left: 40px;
   background-color: yellow;
  
}
a{
   color: red;
   text-decoration-line: none;
   text-decoration-color: green;
}

.next img,#zero img {
  animation: spin_5179 3.5s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes spin_5179 {
  0% { transform:rotate(0deg) }
  42.85714% { transform:rotate(359deg) }
  100% { transform:rotate(359deg) }
}
#demotext {
color: #FFFFFF;
background: #232323;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
color: #FFFFFF;
background: #232323;
}