<header class="header">
  <img class="header__logo" src="img/logo.png" alt="Logo" width="183" height="100">
  <nav class="header__nav main-nav">
    <ul class="main-nav__list">
      <li class="main-nav__item"><a href="#">home</a></li>
      <li class="main-nav__item"><a href="#">about us</a></li>
      <li class="main-nav__item"><a href="#">portfolio</a></li>
      <li class="main-nav__item"><a href="#">services</a></li>
      <li class="main-nav__item"><a href="#">blog</a></li>
      <li class="main-nav__item"><a href="#">contact us</a></li>
    </ul>
  </nav>
  <a class="header__email-link" href="#">info@CreativeStudio.com</a>
</header>