.main-nav {
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    a {
      font-size: 12px;
      font-weight: 600;
      color: $color-nav-font;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        color: $color-nav-active;
      }
    }
  }
}