// base page colors
$color-body-background: #f4f4f4;
$color-nav-font: #fe9b00;
$color-nav-active: #090909;
$color-header-email: #999898;
$color-page-underline: #c0c0c0;
$color-promo-background: #f58400;
$color-promo-gradient-statrt: #fe9b00;
$color-promo-gradient-end: #e35300;
$color-promo-content-background: #090909;
$color-promo-link: #fe9b00;
$color-feachers-font: #5d5d5d;
$color-feachers-border: #090909;
$color-feachers-title: #090909;
$color-feachers-link: #fe9b00;
$color-feachers-link-active: #090909;
$color-feachers-cite: #090909;
// target resolution
$screen-resolution-mob: 576px;
$screen-resolution-tablet: 768px;
$screen-resolution-desktop: 1024px;
